<!DOCTYPE HTML>
<html lang="pt_br">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Homepage Prof. Marcelo Bezerra de Alcântara</title>
</head>

<body>
  <header>
    <div class="wrapper">
      <h1>Homepage Marcelo</h1>
      <nav>
        <ul>
          <li><a href="#hero-image">Home</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <aside>
    Texto aside
  </aside>

  <section id="image-principal">
    Imagem principal
  </section>

  <section id="funcionalidades">
    Funcionalidades
  </section>
  <section id="conteudo-principal">
    Conteudo principal
  </section>
  <footer>
    <div class="wrapper">
      <section id="info-rodape">
        informações rodape
      </section>
      <section id="links-rodape">
        Links
      </section>
    </div>
  </footer>
</body>

</html>