<!DOCTYPE HTML>
<html lang="pt_br">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Homepage Marcelo Bezerra</title>

</head>

<body>
  <header>
  </header>
  <footer>
  </footer>
</body>

</html>