<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <link href="css/main.css" rel="stylesheet" type="text/css">
  <title>Minha Página - Marcelo Bezerra</title>
</head>
<body>
  <header>
    <h1>Homepage</h1>
  </header>
  <div contenteditable="true">
    Edite-me...
  </div>
  <section>
    <h2>Dados Pessoais </h2>
    <p>Meu nome é <strong>Marcelo Bezerra de Alcântara</strong> e nasci na cidade de Fortaleza em 1974.</p>
    <section>
      <h3>Família</h3>
      <p>Sou casadado com a <em> Liliane Medeiros </em> e tenho dois filhos: <em>Matheus e Yasmim.</em></p>
    </section>
  </section>
  <section>
    <h2>Dados Profissionais </h2>
    <p>Atualmente desempenho duas atividades profissionais</p>
    <p>Analista de Sistema e Professor Universitário</p>
    <details>
      <summary>SERPPRO</summary>
      <p>Atualmente trabalho no SERPRO</p>
    </details>
    <details>
      <summary>UNI7</summary>
      <p>Atualmente trabalho no UNi7</p>
    </details>
  </section>
  <aside>
    <h3>Interesses</h3>
    <p>Gosto de Caminhar.</p>
  </aside>
  <section>
    <h2>Formulário de Contato</h2>
    <form>
      <label for="destino"> e-mail:
        <input name="destino" spellcheck="true" type="email" placeholder="e-mail de contato" required />
      </label>
      <input name="valuex" type="number" value="12.4" step="0.2" min="0" max="20" />
      <input name="valuex" type="color" />
      <input name="CEP" id="CEP" required pattern="\d{5}-?\d{3}" />
    </form>
  </section>
  <p />
  <footer>Desenvolvido por Marcelo Bezerra Bezerra em <time>08/06/2021</time>
  </footer>
</body>

</html>