<!DOCTYPE HTML>
<html lang="pt_br">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <title>Homepage Marcelo Bezerra</title>

</head>

<body>
  <header>
    <div class="wrapper">
      <h1>Marcelo Alcântara</h1>
      <audio autoplay loop>
        <source src="musics/music1.mp3" type="audio/mp3">
        Seu navegador não suporta a TAG audio.
      </audio>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#image-principal">Foto</a></li>
          <li><a href="#profissoes">Profissão</a></li>
          <li><a href="#conteudo-principal">Artigos</a></li>
        </ul>
      </nav>
    </div>
  </header>
 
  <section id="image-principal">
    <div class="wrapper">
      <h2><strong>Melhor ser feliz que está certo.</strong><br />
      </h2>
    </div>
  </section>

  <section id="profissoes">
    <div class="wrapper">
      <ul>
        <li class="profissao-1">
          <h4>Pai</h4>
          <p>Maior desafio de vida, ser responsável pela formação do carater! Tenho dois filhos.</p>
        </li>
        <li class="profissao-2">
          <h4>Professor</h4>
          <p>Foi a minha primeira profissão, desde a época de monitor de matemática no primário.</p>

        </li>
        <li class="profissao-3">
          <h4>Analista de Sistemas</h4>
          <p>Minha profissão principal, onde tiro o meu sustento. Adoro possibilidade de criar novas coisas.</p>
        </li>
        <div class="clear"></div>
      </ul>
    </div>
  </section>
  <section id="conteudo-principal">
    <div class="wrapper">
      <article>
        <h3>O que é HTML?</h3>
        <p>HTML (abreviação para a expressão inglesa HyperText Markup Language, que significa: "Linguagem de Marcação de
          Hipertexto" é uma linguagem de marcação utilizada na construção de páginas na Web. Documentos HTML podem ser
          interpretados por navegadores. A tecnologia é fruto da junção entre os padrões HyTime e SGML. </p>
      </article>
      <article>
        <h3>O que é CSS?</h3>
        <p>Cascading Style Sheets (CSS) é um mecanismo para adicionar estilo (cores, fontes, espaçamento, etc.) a um
          documento web[1]. O código CSS pode ser aplicado diretamente nas tags ou ficar contido dentro das tag. Também
          é possível, em vez de colocar a formatação dentro do documento,
          criar um link para um arquivo CSS que contém os estilos. Assim, quando se quiser alterar a aparência dos
          documentos vinculados a este arquivo CSS,
          basta modifica-lo.</p>
      </article>
      <article>
        <h4>Feiras Livres de Fortaleza</h4>
        <table>
          <th>Dia da Semana</th>
          <th>Local</th>
          <tr>
            <td>Segunda-feira (manhã) </td>
            <td>
              <ol>
                <li>Praia do Futuro – Praça 31 de março – Rua Edmundo Falcão, S/N</li>
                <li>Henrique Jorge – Rua Prof. Paulo Lopes/Aldisio Pinheiro</li>
                <li>Parque Santa Cecília – Av. Virgílio Nogueira, entre Av. Oscar Araripe e Av. Cel. Fabriciano</li>
                <li>Conjunto Palmeiras – Rua Canguru, S/N</li>
                <li>Carlito Pamplona – Rua Irineu de Sousa com Rua Tomaz Gonzaga.</li>
              </ol>
            </td>
          </tr>
          <tr>
            <td>Terça-feira (manhã) </td>
            <td>
              <br />Serviluz – Travessa Murilo Borges, S/N
              <br />Santa Teresinha – Praça Central, no cruzamento das ruas Josias de Paulo, Princesa Isabel e Samambaia
              <br />Rodolfo Teófilo – Rua Frei Marcelino com Gustavo Braga
              <br />Conjunto São Francisco – Av. Mozart Lucena com Rua Jangadinha
              <br />Aracapé – Av. Miguel Aragão, quadra 04
              <br />Parque Santo Amaro – Av. Urucutuba, entre as ruas NE-5 e do Canal
              <br />Barroso II – Rua Eldorado, S/N
              <br />Dias Macêdo – Rua Boa Ventura, S/N
              <br />Cajazeiras – Rua Ten. Tito Barros, S/N
              <br />Jardim Guanabara – Av. Major Assis com Rua Alberto Ferreira
              <br />Conjunto Polar – Rua Menezes de Oliveira, s/n
              <br />Vila União – Ruas Alberto Montezuma com Helvécio Monte.
              <br />Centro – Feira orgânica do Mercado dos Pinhões
            </td>
          </tr>
          <tr>
            <td>Quarta-feira (manhã) </td>
            <td>
              <br />Mucuripe – Av. do Jangadeiro, próximo ao colégio Mathias Beckers
              <br />Pici – Rua Alagoas com Tenente Lauro
              <br />Parque Rio Branco – Rua Banvar Bezerra com Gal. Gois Monteiro
              <br />Canindezinho – Av. Jardim Fluminense, entre Av. Osório de Paiva e Rua Cônego de Castro
              <br />Conjunto Alvorada – Rua José Severiano, S/N – Edson Queiroz
              <br />Parque Dois Irmãos – Av. Coletora Norte Sul, S/N
              <br />Paupina – Rua Monte Verde, S/N
              <br />Bairro de Fátima – Ruas Carlos Ribeiro com Dom Sebastião Leme
              <br />Demócrito Rocha – no cruzamento das ruas Minas Gerais, Sergipe e Rio Grande do Norte
              <br />Jardim América – Ruas Aquiraz com Costa Mendes
            </td>
          </tr>
          <tr>
            <td>Quinta-feira (manhã)</td>
            <td>
              <br />Mucuripe – Rua Machado de Assis – Praça da Igreja do Mucuripe
              <br />Henrique Jorge – Rua Prof. Paulo Lopes/Aldisio Pinheiro
              <br />João XXIII – Rua João Tupi com Boa Vista
              <br />Granja Portugal – Rua Londrina, entre a Rua Antônio Nery e a margem do rio.
              <br />Tancredo Neves – Av. Plácido Castelo, S/N – Jardim das Oliveiras
              <br />Jangurussu – Av. Valparaiso, S/N – Sítio São João
              <br />Álvaro Weyne – Av. Teodomiro de Castro, s/n
            </td>
          </tr>
          <tr>
            <td>Sexta-feira (manhã)</td>
            <td>
              <br />Cidade 2000 – Praça Central da Cidade 2000
              <br />Quintino Cunha – Av. Independência com Mozart Lucena
              <br />Autran Nunes – Rua da Felicidade com Hipólito Pamplona
              <br />Conjunto Palmares – Rua Xavier da Silveira, da Rua Sargento João Pinheiro até o Conjunto Dom Lustosa
              <br />Parque Santa Rosa – Rua Aristides, entre as ruas Professor Cabral e das Cerejeiras
              <br />Parque Santa Maria – Rua Honorato Silva, S/N
              <br />Passaré – Rua Dois de Maio, S/N – Jardim União
              <br />Serrinha – Rua Montevideo (entre Duarte Pimentel e Rua Estudante Jucá)
              <br />Centro – Praça Pelotas – Mercado dos Pinhões </td>
          </tr>
          <tr>
            <td>Sábado (manhã)</td>
            <td>
              <br />Papicu – Rua Júlio Azevedo, S/N
              <br />Praia do Futuro – Rua Professor Murilo da Silveira, esquina com Rua Pintor Antônio Bandeira
              <br />Bom Sucesso – Rua Carlos Lamarca, entre Carlos Chagas e Vital Brasil
              <br />Maraponga – Rua 10, S/N – Campo dos Ingleses
              <br />Planalto Ayrton Senna – Rua Quixadá, da Av. Central até a Rua Planaltina
              <br />Vila Manoel Sátiro – Rua Uirapuru com Rua Cônego de Castro, S/N
              <br />Jangurussu – Av. Castelo de Castro, S/N – São Cristovão
              <br />Aerolândia – Rua Capitão Vasconcelos, S/N
              <br />Edson Queiroz – Rua Lucas Francisco Antônio, S/N
              <br />Goiabeiras – Av. Senador Robert Kennedy, S/N
              <br />Itaoca – rua Colombo, entre Vila Lobos e Livino de Carvalho
              <br />Gentilândia – Ruas Paulino Nogueira com Marechal Deodoro
            </td>
          </tr>
          <tr>
            <td>Domingo (manhã)</td>
            <td>
              <br />Conjunto Santa Terezinha – Av. Dollor Barreira, S/N
              <br />Antônio Bezerra – Rua Vale Costa com José Leite Gondim
              <br />Parque Genibaú – Rua 24 de Outubro, da Avenida Virgílio Távora até o trilho
              <br />Parque Santo Amaro – Rua NE-9 com Avenida Urucutuba
              <br />Planalto Ayrton Senna – Rua Quixadá, da Avenida Central até a Rua Planaltina
              <br />Messejana – Rua Joaquim Felício, S/N
              <br />Sargento Hermínio – Pólo de Lazer da Sargento Hermínio.
              <br />Jardim Iracema – Rua Arakém entre as Ruas Astrogildo Fontoura e Florêncio de Alencar
              <br />Gentilândia – ruas Paulino Nogueira com Marechal Deodoro
              <br />Parangaba – Polo da Parangaba (avenidas José Bastos com Gomes Brasil)
            </td>
          </tr>
        </table>
      </article>
      <div class="clear"></div>
    </div>
  </section>

  <footer>
    <div class="wrapper">
      <section id="info-rodape">
        <p>Copyright 2021. All rights reserved.</p>
      </section>
      <section id="links-rodape">
        <ul>
          <li>
            <h5>Links</h5>
          </li>
          <li><a href="https://www.uni7.edu.br/">Uni7</a></li>
          <li><a href="https://www.serpro.gov.br/">SERPRO</a></li>
          <li><a href="mailto:mbacefor@gmail.com">Marcelo Alcântara</a></li>
        </ul>
      </section>
    </div>
  </footer>
</body>

</html>