<html>

<head>
  <link rel="stylesheet" type="text/css" href="/css/estilo1.css">
</head>

<body>
  <p> Texto Formatado com CSS
  </p>
  <section>
    <p> Qual será a minha cor? </p>
    <p id="meuid"> Qual será a minha cor2? </p>
  </section>
  <p class="verde"> Texto utilizando a classe verde</p>
  <p class="verde" style="color:blue"> Texto utilizando a classe verde</p>
</body>

</html>