body {
  background-color: #fff;
  color: #777;
  font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

p {
  line-height: 20px;
  margin-bottom: 20px;
}

h1 {
  font-family: 'Crete Round', serif;
  font-weight: bold;
  color: #444;
  font-size: 35px;
  margin-bottom: 20px;
  font-variant: small-caps;
}

h2 {
  /*font-weight: 250px;*/
  color: white;
  font-size: 45px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

h3 {
  font-size: 30px;
  color: #444;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

h4 {
  font-size: 24px;
  color: #444;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

h5 {
  font-size: 15px;
  color: #444;
  font-weight: bold;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #444;
}

a:hover {
  color: #02b8dd;
}

strong {
  font-weight: bold;
}

small {
  font-size: 13px;
  color: #777;
  font-style: italic;
}

.clear {
  clear: both;
}

.wrapper {
  margin: 0 auto;
  padding: 0 20px;
  width: 1024px;
}
header {
  height: 40px;
}

header h1 {
  float: left;
}

header h1 .color {
  color: #02b8dd;
}

header nav {
  float: right;
}

header nav ul li {
  float: left;
  display: inline-block;
  margin-top: 20px;
}

header nav ul li a {
  color: #444;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin-right: 20px;
}

#image-principal {
  height: 300px;
  padding-top: 1px;
  background: #e8eced url('../images/marcelo.jpg') no-repeat center;
}

#image-principal div h2 {
  margin: 250px 0 5px 0;
  text-align: left;
  vertical-align: bottom;
}
.button-1 {
  display: block;
  text-align: center;
  background: #444;
  border-radius: 3px;
  color: #fff;
  width: 180px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  margin: 0 auto;
}

.button-1:hover {
  background-color: #02b8dd;
  color: #fff;
}

#profissoes ul {
  margin: 20px 0;
}

#profissoes ul li {
  width: 300px;
  padding-top: 140px;
  float: left;
  margin-right: 10px;
  text-align: center;
}

#profissoes ul li.profissao-2 {
  background: url('../images/features-icon-1.png') no-repeat top center;
}

#profissoes ul li.profissao-1 {
  background: url('../images/features-icon-2.png') no-repeat top center;
}

#profissoes ul li.profissao-3 {
  background: url('../images/features-icon-3.png') no-repeat top center;
}

#conteudo-principal {
  background-color: #f8fafa;
  padding: 60px 0;
  text-align: center;
}

#conteudo-principal h3 {
  display: block;
  margin: 0 auto 20px auto;
  width: 400px;
  border-bottom: 1px solid #02b8dd;
  padding: 0 0 20px 0;
}

#conteudo-principal a img {
  margin: 20px 0;
}

#secondary-content {
  padding: 60px 0;
  text-align: center;
}

#secondary-content article {
  width: 460px;
  height: 270px;
  float: left;
  background-color: #f5f5f5;
}

#secondary-content article:first-child {
  margin-right: 20px;
}

#secondary-content article .overlay {
  background: rgba(255, 255, 255, .95);
  height: 230px;
  width: 190px;
  padding: 20px;
}

article h4 {
  border-bottom: 1px solid #02b8dd;
  padding-bottom: 20px;
}

.more-link {
  border: 1px solid #02b8dd;
  color: #02b8dd;
  padding: 6px 20px;
  border-radius: 3px;
}

.more-link:hover {
  background-color: #02b8dd;
  color: #fff;
}

#cta {
  padding: 60px 0;
  text-align: center;
}

#cta h3 {
  display: block;
  margin: 0 auto 20px auto;
  width: 400px;
  border-bottom: 1px solid #02b8dd;
  padding: 0 0 20px 0;
}

.button-2 {
  display: block;
  margin: 0 auto;
  border: 2px solid #02b8dd;
  color: #02b8dd;
  border-radius: 3px;
  width: 180px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
}

.button-2:hover {
  background-color: #02b8dd;
  color: #fff;
}

footer {
  height: 150px;
  padding: 20px 0;
  
}

#info-rodape {
  width: 380px;
  float: left;
  margin-top: 10px;
}

#links-rodape {
  width: 520px;
  float: right;
}

#links-rodape ul {
  width: 150px;
  float: left;
  margin-left: 20px;
}

#links-rodape ul li {
  margin: 10px 0;
}

/*table style*/

table {
  border-spacing: 1;
  border-collapse: collapse;
  border-radius: 6px;
  overflow: hidden;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

th{
  font-weight:bold ;
}

td,
th {
  padding-left: 8px;
}

thead tr {
  height: 60px;
  background: #FFED86;
  font-size: 16px;
}

tbody tr {
  height: 48px;
  border-bottom: 1px solid #E3F1D5;
}

td,
th {
  text-align: left;
}
